.appPage{
  background-image: url("/public/images/todo.jpg");
  min-height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.shadePage{
  background-color: rgba(0, 0, 0, 0.4);
  min-height:100vh;
}